@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost&family=Sora&display=swap');

/* font-family: 'Jost', sans-serif;
font-family: 'Sora', sans-serif; */


:root{
    --ff--sora: 'Sora', sans-serif;
    --ff--jost: 'Jost', sans-serif;
    --ff--poppins: 'Poppins', sans-serif;
    --ff--ubuntu: 'Ubuntu', sans-serif;
    --ff--mos: 'Montserrat', sans-serif;
    --ff--open: 'Open Sans', sans-serif;
}

body{
    background-color: #e6e6e6;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: #e6e6e6;    
}

::-webkit-scrollbar-thumb{
    background-color: #2b2758;
    /* background-color: #0249ac; */
    
}

::-webkit-scrollbar-thumb:hover{
    background-color: #0249ac;
}

/* ALL THE ROOT RELATED STUFFS DONE ABOVE THIS POINT */

.font-sora{
    font-family: var(--ff--sora);
}

.font-jost{
    font-family: var(--ff--jost);
}

.font-poppins{
    font-family: var(--ff--poppins);
}



.font-mos{
    font-family: var(--ff--mos);
}

.font-open{
    font-family: var(--ff--open);
}




.hamburgerMenuPopup{
    top: 0;
    right: -320px;
}

.retro-shadow{
    box-shadow: 0.4rem 0.4rem #2e2b2b;
}

.retro-shadow2{
    box-shadow: 0.4rem 0.4rem #2e2b2b, -0.4rem 0.4rem #2e2b2b;
}



.retro-shadow3{
    box-shadow: 0.4rem 0.4rem #BFB8B8, -0.4rem 0.4rem #BFB8B8;
}

.retro-shadow4{
    box-shadow: 0.3rem 0.3rem #BFB8B8;
}


.belowNavbarPopup{
    z-index: -1;
}

.somewhereBetween{
    z-index: +10;
}
.navbarLevel{
    z-index: +50;
}


.lines{
    transition: all;
    transition: 0.5s;
    transform-origin: center;
}

.ham1{
    top: 46%;
    rotate: -45deg;
}

.ham3{
    bottom: 46%;
    rotate: 45deg;
}

.ham2{
    opacity: 0;
}

/* the hero section image for phones */


.heroSection{
    height: 34vh;
    width: 100%;
}


.slides{
    position: absolute;
    transition:  1s;
    
}

.image1{
    left: 0%;
}

.image2{
    left: 100%;
}

.test{
    background-color: red;
    color: white;
    padding: 2rem;
    position: absolute;

    z-index: 200;
}

.leftSlider{
    height: 92%;
    width: 40%;
}


@media (min-width: 640px) {
    #HeroSectionId{
        height: 100vh;
        width: 100%;
    }

    .slides{
        object-fit: cover;

        width: 100%;
        height: 100%;
    }

    .retro-shadow2Opp{
        box-shadow: 0rem 0rem #2e2b2b, -0rem 0rem #2e2b2b;
    }

    .font-ubuntu{
        font-family: var(--ff--ubuntu);
    }
}


/* doing for the superlarge screen */
#NavbarMain{
    max-width: 1920px;
    
}

#HeroSectionId{
    width: 100%;
    max-width: 1920px;
    min-width: 100px;
}

#Section2{
    width: 100%;
    max-width: 1920px;
    min-width: 100px;

    background-color: #e6e6e6;
    /* position: relative; */
}
#Section3{
    width: 100%;
    max-width: 1920px;
    min-width: 100px;

    position: relative;
    background-color: #e6e6e6;
}
#Section4{
    width: 100%;
    max-width: 1920px;
    min-width: 100px;

    position: relative;
    background-color: #e6e6e6;
}
#Section5{
    width: 100%;
    max-width: 1920px;
    min-width: 100px;

    position: relative;
    background-color: #e6e6e6;
}
#Section6{
    width: 100%;
    max-width: 1920px;
    min-width: 100px;

    position: relative;
    background-color: #e6e6e6;
}

.breaks{
    background-color: red;
    height: 1rem;
    width: 100%;
    
    max-width: 1920px;
    min-width: 100px;
}

@media (min-width: 1920px) {
    #Main{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #e6e6e6;
    }
}

